* {
    font-family: Verdana, sans-serif;
    text-decoration: none;
    color: white;
}

body {
    margin-left: 10.25em;
    margin-right: 10.25em;
}

#signup a {
    font-size: 0.8em;
    padding: 0 1em;
}

#signup a:first-child {
    border-right: 1px solid white;
    padding-left: 0;
}

body > header {
    margin-top: 0px;
    background-color: #046dd5;
    padding: 1.5em 1em;
    font-size: 0.8em;
}

body > header > * {
    margin:0;
}

body > header h2 {
    font-size: 1.1em;
}

body > header  div {
    font-weight: 400;
    font-size: 1.2em;
}

nav input, nav label {
    display: none;
}

nav ul {
    list-style:none;
    padding-left: 0;
    text-align: center;
    margin:0;
}
nav > ul >li {
    border-top: 4px solid;
    display: block;
    padding: 1em;
    background-color: white;
}

nav >ul > li > a{
    color:black;
    text-decoration: none;
    display: block;
    font-weight: 600;
}

nav li:nth-child(1) {
    border-top-color:#E1493E;
}

nav li:nth-child(2) {
    border-top-color: #8ABA56;
}

nav li:nth-child(3) {
    border-top-color: #5B4282;
}

nav li:nth-child(4) {
    border-top-color: #FF8932;
}

nav li:nth-child(5) {
    border-top-color: #19B6E9;
}

nav li:nth-child(6) {
    border-top-color: #E84C8B;
}

#news footer span:first-child:before{
    color: white;
    content: "By ";
}

.tags a,.comments {
    text-decoration: underline;
}

.comments:after{
    content: " comments";
}

#news footer {
    color: white;
    background-color: #F4655F;
    font-size: 0.8em;
    font-weight: 500;
    padding:1em;
}
body > footer {
    background-color: #2A2F33;
    color:white;
    padding: 1em  ;
}

body > footer {
    font-size:1em;
    padding: 0.5em 0em;
    margin: 1em 0em;
}

#related {
    font-size:0.9em;
    background-color: #2A2F33;
    color: white;
    padding: 1em;
}

#related article a {
    color: white;
    text-decoration: none;
}

#related article p {
    font-family: 'georgia',Times,serif;
    font-size: 1.2em;
}

#news img {
    width: 100%;
}

#news p, nav a {
    color: #2A2F33;
}

#news > article > p:first-of-type:first-letter {
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 400;
}

#news article {
    margin-right: 1em;
    margin-top: 1em;
    background-color: white;
}
#news article p{
    margin-left: 1em;
    position: relative;
    margin-bottom: 1em;
    font-family: 'georgia';
}

article header a {
    font-size:1em;
    position: absolute;
    max-width: 12em;
    margin-left: 1em;
    margin-top: 1em; 
    text-shadow:4px 4px 6px #2A2F33; 
}
