* {
    font-family: Verdana, sans-serif;
    text-decoration: none;
    color: white;
}

body {
    margin-left: 10.25em;
    margin-right: 10.25em;
}

#news img {
    width: 100%;
}

p {
    font-family: 'Georgia';
    text-align: justify;
    padding: 0 1em ;
    font-size: 0.9em;
    font-weight: 599;
}

#news p, nav a {
    color: #2A2F33;
}

#news > article > p:first-of-type:first-letter {
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 400;
}


nav a {
    text-align: center;
}

body > header {
    background-color: #046dd5;
    padding: 1.8em 0 1.5em 1.4em;
    font-size: 0.7em;
    font-weight: 600;
    line-height: 80%;
}

body > header h2 {
    padding: 0em;
    font-size: 1.1em;
}

body > header  div {
    font-weight: 400;
    font-size: 1.2em;
}

body > header >div>a:first-child::after {
    content: " |  ";
}

#menu {
    padding-top: -1.5em;
}

nav input, nav label {
    display: none;
}
nav li {
    text-align: center;
    padding: 1em;
    font-weight: 600;
    border-top-style: solid;
    border-top-width: 0.4em;
    margin: -1em 0em 1em -2.5em;
}

nav li:nth-child(1) {
    border-top-color:#E1493E;
}

nav li:nth-child(2) {
    border-top-color: #8ABA56;
}

nav li:nth-child(3) {
    border-top-color: #5B4282;
}

nav li:nth-child(4) {
    border-top-color: #FF8932;
}

nav li:nth-child(5) {
    border-top-color: #19B6E9;
}

nav li:nth-child(6) {
    border-top-color: #E84C8B;
}

#news > article > footer:before{
    color: white;
    content: "By ";
}

.tags a,.comments {
    text-decoration: underline;
}

.comments:after{
    content: " comments";
}

#news footer {
    color: white;
    background-color: #F4655F;
    font-size: 0.8em;
    font-weight: 500;
    padding:1em;
}
aside, body > footer {
    background-color: #2A2F33;
    padding: 1em  ;
}

body > footer {
    font-size:1em;
    padding: 0.5em 0em;
    margin: 1em 0em;
}

aside p {
    padding: 0em;
}

article header a {
    font-size:1em;
    position: absolute;
    max-width: 12em;
    margin-left: 1em;
    margin-top: 2em; 
    text-shadow:4px 4px 6px #2A2F33; 
}